#body{
    margin: 0px;
    padding:0px;
}

#heads{
    width: 100%;
    height: 40px;
    background-color: #e33544;
}

#login{
    width: 15%;
    height: 30px;
    text-align: center;
    margin-left: 80%;
    float: right;
    position: absolute;
    margin-top: 10px;
}

#login>span{
    color: white;
    font-size: 20px;
}


#searchbox>input{
    font-size: 15px;
    color: black;
    margin-left: 550px;
    width: 35%;
    position:absolute;
    margin-top: 10px;
    outline: none;
    text-align: center;
}

#zomatotext{
width: 15%;
height: 20px;
float: left;
}

#zomatotext>span{
position:absolute;
color: white;
font-size: 35px;
font-weight: bold;
margin-left: 30px;
}

#homebutton{
    margin-left: 200px;
    text-decoration: none;
    position: absolute;
    margin-top: 8px;
}

#body1{
    width: 20%;
    height: 700px;
    margin-left: 50px;
    float: left;
    margin-top: 50px;
    border: 5px solid gray;


}

#body2{
    width: 70%;
    height: 900px;
    margin-left: 350px;
    margin-top: 50px;
}

.items{
    width: 27%;
    height: 320px;
    float: left;
    margin-left: 5%;
    box-shadow: 5px 5px 5px gray;
    margin-top: 5px
}

.items:hover{
    transform: scale(1.07);
}

.items>span{
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



span{
    font-size: 20px;
    color: black;
}

#filter{
    width: 100%;
    height:40px;
    border-bottom: 1px solid gray;
}
#filter>span{
text-align: center;
color: black;
opacity: 0.9;
font-size: 25px;
margin-left: 100px;
font-weight: bold;
margin-top: 50px;
}

#cuisinefilter{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid gray;
    margin-top: 20px;
}

#costfilter{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

#cuisinefilter>span{
    color: black;
    opacity: 0.9;
    margin-left: 75px;

}

#costfilter>span{
    color: black;
    opacity: 0.9;
    margin-left: 75px;

}








